<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuentrada Pe</title>
    <!--Custom CSS-->
</head>

<body>
    <h1>Resumen de compra</h1>
    <h3>Monto</h3>
    <label>S/. 4500</label>
    <button>Confirmar</button>
    <button>Cancelar</button>
    <h3>Entradas</h3>
    <ul>
        <li>Platinium 2</li>
        <li>Preferencial 5</li>
    </ul>
    <h3>Nota: La validacion se realizará en un plazo maximo de 24h.</h3>
</body>

</html>